* {
    bg-col: #1E1D2D;
    bg-col-light: #333b41;
    border-col: #96CDFB;
    selected-col: #ABE983;
    blue: #96CDFB;
    fg-col: #D9E0EE;
    fg-col2: #1E1D2D;
    grey: #282737;
    width: 800;
}
