theme "catppuccin-mocha"

default_mode "locked"

keybinds clear-defaults=true {
  shared {

    bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
    bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
    bind "Alt j" "Alt Down" { MoveFocus "Down"; }
    bind "Alt k" "Alt Up" { MoveFocus "Up"; }
  }
  
  shared_except "Locked" {
    bind "Alt g" "Esc" { SwitchToMode "Locked"; }

    bind "Alt q" { Quit; }
    bind "Alt n" { NewPane; }

    bind "Alt =" "Alt +" { Resize "Increase"; }
    bind "Alt -" { Resize "Decrease"; }

    bind "Alt [" { PreviousSwapLayout; }
    bind "Alt ]" { NextSwapLayout; }

    bind "Tab" { ToggleTab; }

    bind "Ctrl l" { MoveFocusOrTab "Right"; }
    bind "Ctrl h" { MoveFocusOrTab "Left"; }
    bind "Ctrl j" { MoveFocus "Down"; }
    bind "Ctrl k" { MoveFocus "Up"; }
  }


  locked {
    bind "Alt g" { SwitchToMode "Normal"; }
  }

  shared_except "tab" "locked" {
    bind "Alt t" { SwitchToMode "Tab"; }
  }

  shared_except "pane" "locked" {
    bind "Alt p" { SwitchToMode "Pane"; }
  }

  shared_except "move" "locked" {
    bind "Alt m" { SwitchToMode "Move"; }
  }

  shared_except "resize" "locked" {
    bind "Alt n" { SwitchToMode "Resize"; }
  }

  shared_except "scroll" "locked" {
    bind "Alt s" { SwitchToMode "Scroll"; }
  }
}

